.color-primary-0 { color: #AA3939 }	/* Main Primary color */
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }

body {
    background-color: #AA3939;
    color: #f1a9a0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.material-icons {
    display: inline-block;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    margin-left:auto;
    margin-right:auto;
    width:75%;
    display: inline-block;
    text-align: center;
}

#queue {
    text-align: left;
    list-style-type: none;
    padding: 0px;
}

.song {
    color: #D46A6A;
    line-height: 0em;
    padding: 5px;
}

#nowplaying {
    color: #f1a9a0;
    background-color: #801515;
    overflow: hidden;
}

.title {
	float: left;
}
.artist {
	float: right;
}

.sidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: #550000;
    opacity: 0.9;
}

#songinput {
    text-align: center;
    width: 100%;
    margin: auto;
    border: none;
    color: #f1a9a0;
    border: none;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

#results .song {
    color: #AA3939;
    font-size: 70%;
    list-style:none;
    padding-left:0;
}

#results .ui-selecting {
}

#results .ui-selected {
    color: #FFAAAA;
}
